<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <div class="blog-button-container">
    <div>
      <%= form.label :status %><br>
      <%= form.select :status, Visible::VALID_STATUSES, { :class => "form-select form-select-sm", selected: 'public'} %>
    </div>

    <div>
      <%= form.submit(class: "btn btn-primary") %>
    </div>

    <div>
      <%= link_to "Cancel", articles_path %>
    </div>
  </div>
<% end %>

