<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, size: "60x10" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="blog-btn-group-vertical">
    <div>
      <%= form.label :status %><br>
      <%= form.select(:status, Visible::VALID_STATUSES, { :class => "form-select form-select-lg", selected: article.status || "public" }) %>
    </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author, value: current_user.username, hidden: true %>
    <%= current_user.username %>
  </div>

    <div>
      <%= form.submit(class: "btn btn-primary blog-form-btn") %>
    </div>

    <div>
      <%= link_to "Cancel", articles_path, class: "link-danger" %>
    </div>
  </div>
<% end %>

