<div class="blog-post-title">
  <h1><%= @article.title %></h1>
</div>
<div class="blog-post">
  <p><%= @article.body %></p>
</div>
<div>
  Author
  <h6><%= @article.author %></h6>
</div>
<ul>
  <li><%= link_to "Edit Post", edit_article_path(@article) %></li>
  <li><%= link_to "Delete Post", article_path(@article), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          }, class: "link-danger" %></li>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

