<div class="blog-post-title">
  <h1><%= @article.title %></h1>
</div>
<div class="blog-post">
  <%= simple_format(@article.body) %>
</div>
<div>
  Author
  <h6><%= @article.author %></h6>
</div>
<% if can? :edit, @article %>
  <ul>
    <li><%= link_to "Edit Post", edit_article_path(@article) %></li>
    <li><%= link_to "Delete Post", article_path(@article), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            }, class: "link-danger" %></li>
  </ul>
<% end %>  

<h2>Comments</h2>
  <% if @article.comments.empty? %>
    <p>This article does not have any comments.</p>
  <% else %>
    <%= render @article.comments %>
  <% end %>

<% if user_signed_in? %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
<% else %>
  <h3>You must be signed in to leave a comment.</h3>
<% end %>  

